<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="binding1_IAdministratorServis">
                    <reliableSession enabled="true" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8734/MeteoServis/Administrator"
                binding="wsHttpBinding" bindingConfiguration="binding1_IAdministratorServis"
                contract="AdministratorServiceReference.IAdministratorServis"
                name="binding1_IAdministratorServis">
                <identity>
                    <userPrincipalName value="IVAN-LAPTOP\Ivan Palijan" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>